<html>
  <head>
 
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Pass Rate', 'Failure rate'],
          ['2014', <%= @matric.pass_rate %>, <%= @matric.failure_rate %>],
          ['2015', <%= @matric.pass_rate2015 %>, <%= @matric.failure_rate2015 %>],
          ['2016', <%= @matric.pass_rate2016 %>, <%= @matric.failure_rate2016 %>]
         
        ]);

        var options = {

          chart: {
            bg: '000000',
            title: '<%= @matric.school_name %>',
            subtitle: 'Report analyser',
            align: "center"
          },
           vAxis: {
          title: 'Percentage (%)',
          minValue: 0,
          maxValue: 100,
          format:'#,##%'
        },
        hAxis: {
          title: 'Year'
        },

          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('chartcontainer'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
       <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Year', 'Number'],
          ['2014',   <%= @matric.wrote_2014%>],
          ['2014',      <%= @matric.passed_2014%>],
          ['2015',  <%= @matric.wrote_2015%>],
          ['2015', <%= @matric.passed_2015%>],
          ['2016', <%= @matric.wrote_2016%>],
          ['2016',    <%= @matric.passed_2016%>]
        ]);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart-container'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'pass average'],
          ['2014',  <%= @matric.pass_rate %>],
          ['2015',  <%= @matric.pass_rate2015 %>],
          ['2016',  <%= @matric.pass_rate2016 %>]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }
    </script>
  </head>
  </head>
  <body><div class="container">
<button class="btn btn-premary btn-lg col-md-4 col-xs-4" id="btn1">Bar</button>
<button class="btn btn-premary btn-lg col-md-4 col-xs-4 col-xs-4" id="btn2">Pie</button>
<button class="btn btn-premary btn-lg col-md-4 col-xs-4 col-xs-4" id="btn3">Average</button>
</div>

<div class="container">
<div>
<div id="chartcontainer" style="width: 100%; height: 500px;"></div> 
</div>

<div id="chart-container" style="width: 100%; height: 1000px;"></div> 

<div>
<div id="barchart_material" style="width: 100%; height: 1000px;"></div> 
</div>
</div>

 <script> 
(function ($) {
$('#btn1').click(function () {
$('#chart-container').hide();
$('#barchart_material').hide();
 $('#chartcontainer').slideDown(3000);
  
 }); 
 })(jQuery);
 
 (function ($) {
$('#btn2').click(function () {
$('#chartcontainer').hide(); 
$('#barchart_material').hide();
 $('#chart-container').slideDown(3000); 
  });
 })(jQuery);
 
  (function ($) {
$('#btn3').click(function () {
$('#chartcontainer').hide(); 
$('#chart-container').hide(); 
 $('#barchart_material').slideDown(3000); 
  });
 })(jQuery);
 </script>
  </body>
</html>
