<html>
  <head>
 
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Pass Rate', 'Failure rate'],
          ['2014', <%= @matric.pass_rate %>, <%= @matric.failure_rate %>],
          ['2015', <%= @matric.pass_rate2015 %>, <%= @matric.failure_rate2015 %>],
          ['2016', <%= @matric.pass_rate2016 %>, <%= @matric.failure_rate2016 %>]
         
        ]);

        var options = {

          chart: {
            bg: '000000',
            title: '<%= @matric.school_name %>',
            subtitle: 'Report analyser',
            align: "center"
          },
           vAxis: {
          title: 'Percentage (%)',
          minValue: 0,
          maxValue: 100,
          format:'#,##%'
        },
        hAxis: {
          title: 'Year'
        },

          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('chartcontainer'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
      <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Failure(%)'],
          ['2014',  <%= @matric.failure_rate %>],
          ['2015',  <%= @matric.failure_rate2015 %>],
          ['2016', <%= @matric.failure_rate2016 %>]
        ]);

      var options = {
        legend: 'none',
        pieSliceText: 'label',
        title: 'Failing analyser',
        pieStartAngle: 100,
      };

        var chart = new google.visualization.PieChart(document.getElementById('chart-container'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Pass average'],
          ['2014',  <%= @matric.pass_rate %>],
          ['2015',  <%= @matric.pass_rate2015 %>],
          ['2016',  <%= @matric.pass_rate2016 %>]
        ]);

        var options = {
          title: 'Performance',
          curveType: 'function',
          legend: { position: 'right' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }
    </script>
  </head>
  </head>
  <body><div class="container">
<button class="btn btn-premary btn-lg col-md-4 col-xs-4" id="btn1">Bar</button>
<button class="btn btn-premary btn-lg col-md-4 col-xs-4 col-xs-4" id="btn2">Pie</button>
<button class="btn btn-premary btn-lg col-md-4 col-xs-4 col-xs-4" id="btn3">Average</button>
</div>

<div class="container">
<div>
<div id="chartcontainer" class="col-md-12" style="width: 100%; height: 500px;"></div> 
</div>

<div id="chart-container" class="col-md-12" style="width: 100%; height: 500px;"></div> 

<div>
<div id="barchart_material" class="col-md-12" style="width: 100%; height: 500px;"></div> 
</div>
</div>

 <script> 
(function ($) {
$('#btn1').click(function () {
$('#chart-container').hide();
$('#barchart_material').hide();
 $('#chartcontainer').show();
 }); 
 })(jQuery);
 
 (function ($) {
$('#btn2').click(function () {
$('#chartcontainer').hide(); 
$('#barchart_material').hide();
 $('#chart-container').show(); 
  });
 })(jQuery);
 
  (function ($) {
$('#btn3').click(function () {
$('#chartcontainer').hide(); 
$('#chart-container').hide(); 
 $('#barchart_material').show();
  });
 })(jQuery);
 </script>
  </body>
</html>
